/****** General ***********/
* {
    
    font-family: 'Raleway', sans-serif;
}
/****** header ***********/
header, ul,nav { 
    display:flex ;
}

header {
    justify-content:space-between;
}

ul, li {
    margin-right: 0px;
    list-style-type: none;
    margin-top: 0;
    margin-left: 50px
}

.header li:hover{
    color:#0065FC;
    border-top:2px solid #0065FC;     
}

.header li {
    padding-top: 10px
}

.logo img {
    width: 70px;
    height: auto;
    margin-top: 15px;
}

/****** Partie Recherche ***********/

.fa-solid {
    font-size: 1em;
    background-color: #F2F2F2;
    padding: 10px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}
.Marseille {
    padding: 10px;
    padding-left: 20px;
    border:none ;
    margin-right: -60px;
    font-weight: bold;
}

.Recherche {
    color: white;
    background-color:#0065FC; 
    border:none;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
    padding:10px;
    cursor:pointer;
    font-weight:600
}

.fa-solid.fa-location-dot {
    color: black;
  }

 .fa-solid.fa-magnifying-glass { 
    background-color:#0065FC;
    color: white;
    border-radius:10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.Recherche-mobile {
    border:none;
    background: none;
    cursor:pointer;
}

form {
    display:flex;
}

.filtre {
    font-size: 13px; 
    font-weight: 600;
  }

  .filtre, .tous-les-filtres {
    display: inline; 
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
    padding-right: 8px;
    padding-left: 8px;
    border-radius:25px;
    background-color: transparent;
    margin-top:15px;
    transition: background-color 0.1s;
  }

  button i.fa-solid {
    background-color: transparent;
    font-size: 13px;
  }

  .infos-logements {
    font-size:12px;
    margin:15px;
    margin-left:0px;
  }

  .fa-circle-info {
    background-color:white ;
    font-size:12px;
  }

  button.tous-les-filtres:hover {
    background-color: #bbd5fa;
  } 




















:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

   
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .Recherche {
        display:none;
    }
}

@media only screen and (min-width: 601px) {
    .Recherche-mobile {
      display: none; 
    } }